body {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    font-family: 'Muli', sans-serif;

}
.header {
    display: flex;
    max-width:1110px ;
    width: 100%;
    justify-content:center ;
    align-items:flex-start ;
}

.nav {
    display: flex;
    max-width: 1110px;
    width: 100%;
    box-sizing: border-box;
    margin-top: 60px;
    padding: 0 20px;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.logo {
    max-width: 90px;
    width: 100%;
}

.n-l {
    margin-top: 20px;
}
.n-r {
    margin-top: 20px;
}

.link-1 {
    display: inline-flex;
    justify-content: flex-end;
    margin-right: 30px;
    list-style: none;
}
.link-1>a {
    color: #111;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
}
.link-1>a:hover {
    background-color: blue;
    border-radius: 5px;
    text-decoration: underline;
    color: white;
}

.main {
    max-width: 1110px;
    width: 100%;
    overflow-x: hidden;
}
.main-text {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    box-sizing: border-box;
    margin-top: 100px;
    padding: 0 20px;

}
.text-container {
    display: inline-flex;
    width: 100%;
    justify-content: space-around;
    align-items: flex-end;

}
.text-info {
    width: 100%;
    width: 635px;
    color: #111;
    font-size: 40px;
    font-weight: bold;


}
.product-designer {
    color:#4A4FF2 ;
}
.text-title {
    color: #4A4FF2;
    font-size: 22px;
    font-weight: bold;
    letter-spacing: -0.42px;
 }
.Quote {
    color: #111;
    font-size: 18px;
    font-family: italic;
    align-self: flex-end;
}
.Quote-text {
    padding-right: 50px;
    padding-left: 20px;
}
.grid-img {
    display: grid;
    width: 100%;
    grid-gap: 10px;
    grid-template-rows: repeat(9 1fr);
    grid-template-columns:repeat(32 1fr) ;
}
.grid {
    display: flex;
    max-width: 1110px;
    width: 100%;
    margin-top: 140px;
    padding: 0 20px;
    box-sizing: border-box;
    justify-content: center;
    align-items: flex-start;
}
.column-left {
    grid-column: 1/4;
}

.column-middle {
    grid-column: 4/7;
}

.column-right {
    grid-column: 7/10;
}
img {
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.gird-image-1 {
    grid-row: 1/7;
}

.gird-image-2 {
    grid-row: 1/6;
}

.gird-image-3 {
    grid-row: 1/10;
}

.gird-image-4 {
    grid-row: 7/14;
}

.gird-image-5 {
    grid-row: 6/12;
}

.gird-image-6 {
    grid-row: 10/16;
}

.gird-image-7 {
    grid-row: 14/21;
}

.gird-image-8{
    grid-row: 12/20;
}

.gird-image-9 {
    grid-row: 16/24;
}

.gird-image-10 {
    grid-row: 21/29;
}

.gird-image-11 {
    grid-row: 20/29;
}

.gird-image-12 {
    grid-row: 24/29;
}
.group {
    display: flex;
    max-width: 1110px;
    width: 100%;
    box-sizing: border-box;
    margin-top: 90px;
    padding: 0 20px;
    justify-content: center;
    align-items: flex-start;
}
.group-grid {
    display: grid;
    width: 100%;
    grid-template-columns: 3fr 1fr 1fr;
}
.group-text {
    color: #111;
    font-size: 28px;
    font-weight: bold;
    line-height: 1.3;
}

.services-1 {
    box-sizing: border-box;
    list-style: none;
    font-size: 18px;
    color: #111;  
    margin-left: 50px;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-direction: column;  
}

.services-2 {
    box-sizing: border-box;
    list-style: none;
    font-size: 18px;
    color: #111;
    margin-left: 50px; 
    line-height: 1.5; 
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-direction: column;  
}
.awards {
   display: flex;
   padding:  0 20px;
   width: 100%;
   max-width: 1110px;
   box-sizing: border-box;
   margin-top: 100px;
   border-top: 1px solid #111;
   align-items: flex-start;
   justify-content: center;
}
.awards-grid {
  display: grid;
  grid-template-columns: 3fr 1fr 1fr 1fr 1fr;
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 10px;
  width: 100%;


}
.awards-site{
    margin-top: 20px;
    font-size: 22px;
    font-weight: bold;
    color: #111;

}
.awards-text {
    margin-top: 38px;
    font-size: 16px;
    color: #111;
    font-weight: bold;
    grid-column: 4/5;

}
.awards-2018{
    margin-top: 38px;
    font-size: 16px;
    color: #111;
    text-align: end;

}
.awards-best {
    color: #111;
    font-size: 21px;
    font-weight: bold;
    grid-column: 2/3;

}
.awards-text-2{
    margin-top: 18px;
    font-size: 16px;
    color: #111;
    grid-column: 4/5;
    

}
.awards-2018-2 {
    text-align: end;
    margin-top: 18px; 
}

.foot {
    max-width: 1110px;
    width: 100%;
    box-sizing: border-box;
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 0 20px; 
    border-top: 1px solid black;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.foot-n {
    display: flex;
    margin-top: 50px;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.foot-l {
    margin-top: 20px;
}    

.foot-r {
    margin-top: 20px;
    display: inline-flex;
    
}


.foot-logo {
    max-width: 90px;
    width: 100%;
}

.foot-social {
    max-width: 95px;
    width: 100%;

}
.f-ul {
    width: 100%;
    list-style: none;
    display: inline-flex;
}

.link-foot>a {
    color: #111;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    margin-right: 30px;
} 

.link-foot>a:hover {
    background-color: #4A4FF2;
    border-radius: 5px;
    text-decoration: underline;
    color: rgb(241, 240, 240);
}
.foot-logo {
    max-width: 90px;
    width: 100%;
}

.foot-social {
    max-width: 95px;
    width: 100%;
 }